# Miscellaneous
/assignment_2/*.class
/assignment_2/*.log
/assignment_2/*.pyc
/assignment_2/*.swp
/assignment_2/.DS_Store
/assignment_2/.atom/
/assignment_2/.buildlog/
/assignment_2/.history
/assignment_2/.svn/

# IntelliJ related
/assignment_2/*.iml
/assignment_2/*.ipr
/assignment_2/*.iws
/assignment_2/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
/assignment_2/**/doc/api/
/assignment_2/**/ios/Flutter/.last_build_id
/assignment_2/.dart_tool/
/assignment_2/.flutter-plugins
/assignment_2/.flutter-plugins-dependencies
/assignment_2/.packages
/assignment_2/.pub-cache/
/assignment_2/.pub/
/assignment_2//build/
/assignment_2/ios/Runner/GoogleService-Info.plist
/assignment_2/ios/Runner/Info.plist
/assignment_2/android/app/google-services.json

# Web related
/assignment_2/lib/generated_plugin_registrant.dart

# Symbolication related
/assignment_2/app.*.symbols

# Obfuscation related
/assignment_2/app.*.map.json

# Android Studio will place build artifacts here
/assignment_2/android/app/debug
/assignment_2/android/app/profile
/assignment_2/android/app/release

# Firebase
/assignment_2/lib/firebase_options.dart
/assignment_2/assets/.env


# Miscellaneous
/midterm_project/*.class
/midterm_project/*.log
/midterm_project/*.pyc
/midterm_project/*.swp
/midterm_project/.DS_Store
/midterm_project/.atom/
/midterm_project/.buildlog/
/midterm_project/.history
/midterm_project/.svn/

# IntelliJ related
/midterm_project/*.iml
/midterm_project/*.ipr
/midterm_project/*.iws
/midterm_project/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
/midterm_project/**/doc/api/
/midterm_project/**/ios/Flutter/.last_build_id
/midterm_project/.dart_tool/
/midterm_project/.flutter-plugins
/midterm_project/.flutter-plugins-dependencies
/midterm_project/.packages
/midterm_project/.pub-cache/
/midterm_project/.pub/
/midterm_project//build/
/midterm_project/ios/Runner/GoogleService-Info.plist
/midterm_project/ios/Runner/Info.plist
/midterm_project/android/app/google-services.json

# Web related
/midterm_project/lib/generated_plugin_registrant.dart

# Symbolication related
/midterm_project/app.*.symbols

# Obfuscation related
/midterm_project/app.*.map.json

# Android Studio will place build artifacts here
/midterm_project/android/app/debug
/midterm_project/android/app/profile
/midterm_project/android/app/release

# Firebase
/midterm_project/lib/firebase_options.dart
