<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242616729285-nhr9cjjqlgqgrttnfhjdcsm38934eter.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242616729285-nhr9cjjqlgqgrttnfhjdcsm38934eter</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>242616729285-409e1dvafebc77pjibp1cuqihalnc95d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxWtlxAnkxHiQqeMSv6VevZLHA0FBrIFE</string>
	<key>GCM_SENDER_ID</key>
	<string>242616729285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment2</string>
	<key>PROJECT_ID</key>
	<string>fanpage-app-36bb2</string>
	<key>STORAGE_BUCKET</key>
	<string>fanpage-app-36bb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242616729285:ios:321e4ab2dc587a4c663aac</string>
</dict>
</plist>